<h1>Eat-Da-Burger!!</h1>

<h2>Are you hungry? What type of burger would you like??</h2>

<ul>
    {{each burgers}}
        {{#if devoured}}
            {{> burgers/burger-block devoured=false}}
        {{/if}}
    {{/each}}    
</ul>

<h2>What are you craving??</h2>
<form class="create-form">

    <div class="form-group">
        <label for="new_burger">New Burger:</label>
        <input type="text" id="new_burger" name="name">
    </div>

    <button type="submit">Add-Da-Burger!</button>
</form>